.login{
    background-color:#f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.loginWrapper{
    display: flex;
    width: 70%;
    height: 70%;
    /* padding: 20px; */
    border-radius: 10px;
}

.loginLeft ,.loginRight{
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center
}

.logo{
    color: #1775ee;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 10px;
}

.loginDesc{
    font-weight: 500;
}

.loginBox{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}
.loginInput:focus{
    outline: none;
}

.btnLogin,.btnRegister{
    height: 50px;
    background-color: #1775ee;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;;
    font-weight: 500;
    cursor: pointer;
}

.forgetPass{
    color: #1775ee;
    text-align: center;
}

.btnRegister{
    width: 80%;
    align-self: center;
    background-color: #42b72a;
}