.post{
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 20px;
   
}
.postWrapper{
    padding: 1rem;
}
.postTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postTopLeft{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.postImg{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}
.postContent{
font-size: 18px;
font-weight: 500;
margin: 20px 0;
}
.postedBy{
font-size: 18px;
font-weight: 500;

}
.date{
    font-size: 14px;
}
.postContentImg{
    width: 100%;
    height: 500px;
    object-fit: contain;


}

.postBottom{
    display: flex;;
    justify-content: space-between;
    align-items: center;
}
.postBottomLeft{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.postLiked{
font-size: 13px;


}
.likeImg{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
.postBottomRight{
    font-size: 15px;

}
