.onlineFriendsItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .onlineFriendsContainer {
    display: flex;
    align-items: center;
    position: relative;
    gap: 0.5rem;
  }
  .onlineFriendsImg {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .online {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(75, 194, 75);
    border: 2px solid white;
    position: absolute;
    top: -4%;
    right: 76%;
  }